$background: #E6E6E6;
$card: #FFFFFF;

body {
  background-color: $background;
}
h1 {
  font-family: "Arial";
  text-align: center;
}
#columnsContainer {
  //text-align: center;
  position: relative;
  //background-color: red;
  height: 97vh;
  #polesPositions {
    position: absolute;
    background-color: $card;
    height: 96vh;
    width: 30vw;
    left: 2.5vw;
    #content {
      padding-left: 10vw;
    }
  }
  #Calculator {
    position: absolute;
    background-color: $card;
    height: 96vh;
    width: 30vw;
    left: 35vw;
  }
  #Tips {
    position: absolute;
    background-color: $card;
    height: 96vh;
    width: 30vw;
    left: 67.25vw;
  }
}